body{
    font-family: sans-serif;
    background-image: url('../images/picture3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#search-bar{
    position: absolute;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 300px;
    top: 100px;
    width: 50%;
    z-index: 1;
    border: black;
    border-radius: 5px;
}
