<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
    <nav class="bg-black">
        <!-- Navbar content -->
                    <a class="nav-link active" href="#">Home <span class="sr-only"></span></a>
                    <a class="nav-link" href="#">About Us</a>
                    <a class="nav-link" href="#">Register</a>
                    <a class="nav-link" href="#">Login</a>
                </div>
              </div>
            </div>
      </nav> 
    You are Logged In succesfully !! <a href="{% url 'perform_logout' %}">Logout</a>
</body>
</html>