{%extends 'base.html'%} 
{% load crispy_forms_tags %} 
{%load static %} 
{%block head%}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<title>login</title>
{%endblock head%} 
{%block content%}
<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img src="{%static 'images/picture1.jpg' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <form id="f1" name="f1" method="post">
            {% csrf_token %} 
           {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
          {{form|crispy}}
          <div class="form-row">
            <div class="col-lg-7">
              <button type="submit" form="f1" class="btn1 mt-3 mb-5">Login</button>
            </div>
          </div>
        </form>
        <br />
        <a href="#">Forgot Password?</a><br />
        <p><strong>New User?</strong><a href="{% url 'auth:register' %}">SignUp</a></p>
      </div>
    </div>
  </div>
</section>
{%endblock content%}
