{%extends 'base.html' %}
    {%load static%}
    {%block head%}
    <script src="{%static 'js/search.js' %}"></script>
    <title>Recipe view</title>
    {%endblock head%}

    {%block content%}
    <div class="container my-4">
      <h1>{{name}}</h1>
      <br /><br />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <img src="{{img}}" width="233px" height="385px" />
            <p><br /><br /><b> Description:" </b> {{desc}}"</p>
          </div>
          <br /><br />
          <div class="row">
            <span id="divpr{{r.url}}" class="divpr">
              <button id="rp{{r.url}}" class="btn btn-success save mx-2">Save Recipe</button>
            </span>
          </div>
        </div>
        <div>
          <br /><br />
          {%if ing %}
          <ol>
            <h4>Ingredients</h4>
            {% for i in ing %}
            <li>{{i}}</li>
            {% endfor %}
          </ol>
          {% endif %}
        </div>
        <div>
          <br /><br />
          {%if pre %}
          <ol>
            <h4>Procedure</h4>
            {%for i in pre %}
            <li>{{i}}</li>
            {%endfor%}
          </ol>
          {% endif %}
        </div>
      </div>
    </div>
    {%endblock content%}
