{%extends 'base.html' %}
    {%load static%}
    {%block head%}
    <title>Recipe view</title>
    {%endblock head%}

    {%block content%}
    <div class="container my-4">
      <h1>{{name}}</h1>
      <br /><br />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <img src="{{img}}" width="233px" height="385px" />
            <p><br /><br /><b> Description:" </b> {{desc}}"</p>
          </div>
          <br /><br />
          <div class="row">
        {% csrf_token %}
            <span id="divpr" class="divpr">
                    {% if user.is_authenticated %}
                    {% if saved %}
                  <button  id="save-button" onclick="save_recipe('{{id}}')" class="btn btn-success save mx-2">Save Recipe</button>
                  {% else %}
                  <button  id="remove-button" onclick="remove_recipe('{{id}}')" class="btn btn-success save mx-2">Remove Recipe</button>
                  {% endif %}
                  {% endif %}
            </span>
          </div>
        </div>
        <div>
          <br /><br />
          {%if ing %}
          <ol>
            <h4>Ingredients</h4>
            {% for i in ing %}
            <li>{{i}}</li>
            {% endfor %}
          </ol>
          {% endif %}
        </div>
        <div>
          <br /><br />
          {%if pre %}
          <ol>
            <h4>Procedure</h4>
            {%for i in pre %}
            <li>{{i}}</li>
            {%endfor%}
          </ol>
          {% endif %}
        </div>
      </div>
    </div>
    {%endblock content%}
{%block scripts%}
function save_recipe(recipe_id) {
        $.ajax({
                type:'POST',
                url:'{% url "cookbook:save_recipe" %}',
            data:
            {
                id:recipe_id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(op, d){
            document.getElementById("save-button").innerHTML = "Saved"
            document.getElementById("saved-recipes").innerHTML = op
                    }
        })
}

function remove_recipe(recipe_id) {
        $.ajax({
                type:'POST',
                url:'{% url "cookbook:remove_recipe" %}',
            data:
            {
                id:recipe_id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(op, d){
            document.getElementById("remove-button").innerHTML = "Removed"
            document.getElementById("saved-recipes").innerHTML = op
                    }
        })
}
{%endblock scripts%}
