{%extends 'base.html'%} 
{%load static %}
{%block head%} 
<link rel="stylesheet" href="{%static 'css/register.css' %}" />
<title> Register </title>
{%endblock%} 
{%block content%} 
{% load crispy_forms_tags %}
{{ form.errors }}
{{ form.non_field_errors }}
<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img src="{% static 'images/picture1.jpg' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h3><strong>Create your account</strong></h3>
        <form method="post">
          {% csrf_token %} {{form|crispy}}
          <button type="submit" class="btn1 mt-3 mb-5">SignUp</button>
        </form>
        <br />
        <p><strong>Already a User?</strong><a href="{% url 'auth:login' %}">Login</a></p>
      </div>
    </div>
  </div>
</section>
{%endblock content%}
