{%extends 'base.html'%} {%load static%} {%block head%}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
<title>Saved Recipes</title>
{%endblock head%} 
{%block content%} 
{% if recipes %} 
{% for r in recipes|slice:"0:" %}
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 mb-2">
      <div class="card">
        <img src="{{r.img_url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ r.recipe_name }}</h5>
          <p class="card-text">{{r.domain}}</p>
          <a href="/cook/recipe_view/{{r.recipe.id}}">
            <button id="{{r.recipe_name}}" class="btn btn-success">View Recipe</button></a
          >
          <span id="divpr{{r.url}}" class="divpr">
                  <button  onclick="remove_recipe('{{r.id}}')" class="btn btn-success save mx-2">Remove Recipe</button>
          </span>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="container">{% endif%}</div>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<p>No such recipe available.</p>
{% endif %} 
{%endblock content%} 
{%block scripts%}
function remove_recipe(recipe_id) {
        $.ajax({
                type:'POST',
                url:'{% url "cookbook:remove_recipe" %}',
            data:
            {
                id:recipe_id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(op, d){
            document.getElementById("saved-recipes").innerHTML = op
                    }
        })
}
{%endblock scripts%}
